/** @define TextInput; use strict */

.AutoComplete {

  img {
    cursor: pointer;
    margin-left: -30px;
    margin-top: 5px;
    height: 15px;
  }
  img:active {
    opacity: 0.6;
  }

}

.AutoComplete.input-error {
  position: relative;
  .label_error {
    position: absolute;
    top: 40px;
    color: red;
  }
}
