/** @define Button; use strict */

.Button {
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 0 none;
  outline: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  &:active {
    border: none !important;
    opacity: 0.5 !important;
  }

}

.Button.is-default {
  background-color: lightblue;
  color: white;
  text-transform: initial;
}

.Button.is-label {

}
