/** @define Button; use strict */
.styles__Button___1c-Ao {
  cursor: pointer;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  border: 0 none;
  outline: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: white; }
  .styles__Button___1c-Ao:active {
    border: none !important;
    opacity: 0.5 !important; }

.styles__Button___1c-Ao.styles__is-default___1z-sz {
  background-color: lightblue;
  color: white;
  text-transform: initial; }
/** @define sidebar; use strict */
.styles__sidebar___28bsS {
  display: block; }

.styles__sidebar___28bsS.styles__not_opened___1CZm- {
  width: 60px; }

.styles__sidebar___28bsS.styles__opened___2C9T1 {
  width: 200px; }

.styles__sidebar___28bsS .styles__top_area___1jhZb {
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row; }
  .styles__sidebar___28bsS .styles__top_area___1jhZb .styles__logo_icon___1F565 {
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin: 7.5px; }

.styles__sidebar___28bsS .styles__buttonArea___3h-RG {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .styles__sidebar___28bsS .styles__buttonArea___3h-RG .styles__login___18O9R {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    background-color: transparent; }

.styles__sidebar___28bsS .styles__markerStyleContainer___8wg9s {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -ms-flex-direction: column;
  flex-direction: column; }
  .styles__sidebar___28bsS .styles__markerStyleContainer___8wg9s .styles__markerButton___2uDb4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: transparent;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 10px; }
    .styles__sidebar___28bsS .styles__markerStyleContainer___8wg9s .styles__markerButton___2uDb4 img {
      width: 30px;
      height: 30px; }
    .styles__sidebar___28bsS .styles__markerStyleContainer___8wg9s .styles__markerButton___2uDb4 .styles__item_label___UCHC1 {
      -ms-flex: 1;
      flex: 1;
      text-align: right;
      margin-right: 20px;
      color: grey; }
    .styles__sidebar___28bsS .styles__markerStyleContainer___8wg9s .styles__markerButton___2uDb4 .styles__item_label___UCHC1.styles__active___SZD-y {
      color: white; }

.styles__sidebar___28bsS .styles__opened___2C9T1, .styles__sidebar___28bsS .styles__closed___2q8Ac {
  position: absolute;
  background-color: #2a2f3a;
  height: 100%;
  min-height: 900px;
  box-sizing: border-box;
  transition: transform ease 250ms; }

.styles__sidebar___28bsS .styles__opened___2C9T1 {
  width: 200px;
  left: -200px; }

.styles__sidebar___28bsS .styles__opened___2C9T1.styles__visible___1mOxR {
  transform: translate3d(200px, 0, 0); }
  .styles__sidebar___28bsS .styles__opened___2C9T1.styles__visible___1mOxR .styles__top_area___1jhZb {
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 10px; }

.styles__sidebar___28bsS .styles__closed___2q8Ac {
  left: -60px;
  width: 60px;
  min-width: 60px; }

.styles__sidebar___28bsS .styles__closed___2q8Ac.styles__visible___1mOxR {
  transform: translate3d(60px, 0, 0); }

.styles__sidebar___28bsS .styles__opened___2C9T1 .styles__sep___2KAt7 {
  height: 30px; }

.styles__sidebar___28bsS .styles__invisible___1T4OY .styles__buttonArea___3h-RG {
  display: none; }
/** @define MapCard; use strict */
.styles__markerOverlay___f3wVk {
  position: absolute !important;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  z-index: 10000; }
  .styles__markerOverlay___f3wVk .styles__info___3cZtW {
    padding: 10px; }
    .styles__markerOverlay___f3wVk .styles__info___3cZtW .styles__label___3YbDW {
      margin: 20px; }

.styles__closeIcon___3zUtH {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  top: 300px;
  left: 200px; }

.styles__btnContainer___3t-JB {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 10px; }
  .styles__btnContainer___3t-JB .styles__btnDelete___oDRRg {
    width: 200px;
    margin-right: 10px;
    -ms-flex: initial;
    flex: initial;
    background-color: grey; }
/** @define Map; use strict */
.styles__mapContainer___1zPkp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1; }

.styles__map___2pgSP {
  position: relative;
  width: 100%; }
/** @define Home; use strict */
.styles__homeAreaContainer___32jsl {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex; }

.styles__HomeArea___2x45_ {
  position: absolute;
  width: 100%; }
/** @define Base; use strict */
.styles__Base___2CxLW {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.styles__Base_Content___3poj9 {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

button {
  border-radius: 3px;
  border-width: 0px;
  border-color: white;
  background-color: white; }

div {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none; }

textarea:focus, input:focus {
  outline: none; }

textarea, input {
  border: 0px; }

*::-webkit-input-placeholder {
  color: lightGrey; }

*:-moz-placeholder {
  /* FF 4-18 */
  color: lightGrey; }

*::-moz-placeholder {
  /* FF 19+ */
  color: lightGrey; }

*:-ms-input-placeholder {
  /* IE 10+ */
  color: lightGrey; }
/** @define TextInput; use strict */
.styles__TextInput___3yccL {
  width: 100%;
  height: 60px; }
  .styles__TextInput___3yccL input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1.5px solid;
    border-color: grey; }
  .styles__TextInput___3yccL input.styles__input-error___rlo6- {
    border-bottom: 3px solid;
    border-color: red !important; }
  .styles__TextInput___3yccL input.styles__no_border___1wK_f {
    border-bottom: 0px solid; }
  .styles__TextInput___3yccL .styles__label_error___1jMWk {
    color: red;
    margin-top: 5px;
    font-size: 15px; }
/** @define NotFound; use strict */
.styles__TestDevice___iacO4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  padding: 40px; }
  .styles__TestDevice___iacO4 .styles__itemArea___Z9e6- {
    width: 500px;
    height: 30px;
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    flex-display: row; }
    .styles__TestDevice___iacO4 .styles__itemArea___Z9e6- span {
      width: 120px;
      margin-right: 30px;
      text-align: right;
      line-height: 30px; }
    .styles__TestDevice___iacO4 .styles__itemArea___Z9e6- .styles__textInput___20vkm {
      width: 250px;
      height: 40px;
      background: transparent; }
      .styles__TestDevice___iacO4 .styles__itemArea___Z9e6- .styles__textInput___20vkm input {
        background: transparent;
        height: 20px; }
      .styles__TestDevice___iacO4 .styles__itemArea___Z9e6- .styles__textInput___20vkm .styles__label_error___3ckNg {
        margin-top: 2px; }
  .styles__TestDevice___iacO4 .styles__buttonArea___mPa7k {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 400px;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .styles__TestDevice___iacO4 .styles__buttonArea___mPa7k .styles__button___VzuT5 {
      margin-top: 20px;
      width: 120px;
      margin-left: 20px;
      background-color: #f7f7f7;
      border: 1px solid grey;
      border-radius: 5px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
    .styles__TestDevice___iacO4 .styles__buttonArea___mPa7k .styles__button___VzuT5:active {
      opacity: 0.6; }
/** @define TextInput; use strict */
.styles__AutoComplete___3YUqy img {
  cursor: pointer;
  margin-left: -30px;
  margin-top: 5px;
  height: 15px; }

.styles__AutoComplete___3YUqy img:active {
  opacity: 0.6; }

.styles__AutoComplete___3YUqy.styles__input-error___1oXQo {
  position: relative; }
  .styles__AutoComplete___3YUqy.styles__input-error___1oXQo .styles__label_error___3VMtQ {
    position: absolute;
    top: 40px;
    color: red; }
/** @define FacebookButton; use strict */
.styles__kep-login-facebook___3c4CG {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-width: calc(0.06887vw + 0.67769px);
  border-style: solid;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.27548vw + 12.71074px);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s, border-color .3s;
  background-color: #4C69BA;
  border-color: #4C69BA;
  padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px); }

.styles__kep-login-facebook___3c4CG.styles__small___3pBh- {
  padding: calc(0.34435vw + 3.38843px) calc(0.34435vw + 8.38843px); }

.styles__kep-login-facebook___3c4CG.styles__medium___1cKq1 {
  padding: calc(0.34435vw + 8.38843px) calc(0.34435vw + 13.38843px); }

.styles__kep-login-facebook___3c4CG.styles__metro___2dnh8 {
  border-radius: 0; }

.styles__kep-login-facebook___3c4CG .styles__fa___2QcXJ {
  margin-right: calc(0.34435vw + 3.38843px); }
/** @define LoginForm; use strict */
.styles__LoginForm___382l8 {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 400px; }
  .styles__LoginForm___382l8 .styles__FormContainer___3D022 {
    -ms-flex: 2;
    flex: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: bottom;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 30px; }
    .styles__LoginForm___382l8 .styles__FormContainer___3D022 .styles__Label1___2Fc0W {
      color: #1d5783;
      font-size: 40px; }
    .styles__LoginForm___382l8 .styles__FormContainer___3D022 .styles__LabelArea2___6haPW {
      margin-top: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row; }
      .styles__LoginForm___382l8 .styles__FormContainer___3D022 .styles__LabelArea2___6haPW .styles__Label2___vb962 {
        color: #bababa;
        font-size: 20px; }
      .styles__LoginForm___382l8 .styles__FormContainer___3D022 .styles__LabelArea2___6haPW .styles__Label3___2PHu9 {
        -ms-flex: 1;
        flex: 1;
        padding: 0px;
        font-size: 20px;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right;
        color: #47bfe6;
        margin-right: 10px; }
      .styles__LoginForm___382l8 .styles__FormContainer___3D022 .styles__LabelArea2___6haPW .styles__Label3___2PHu9.styles__left___1Zhe8 {
        text-align: left; }
  .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u {
    -ms-flex: 5;
    flex: 5; }
    .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__terms_policy___cHl40 {
      margin-top: 10px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__terms_policy___cHl40 span, .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__terms_policy___cHl40 .styles__underline___3jgtA {
        font-size: 13px;
        color: #bababa; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__terms_policy___cHl40 .styles__underline___3jgtA {
        padding: 0px;
        border-radius: 0;
        border-bottom: 2px solid #bababa; }
    .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__btnSignUp___3idko {
      padding: 0px;
      width: 100%;
      margin-top: 20px;
      height: 50px;
      font-size: 20px;
      background-color: #1799cc; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__btnSignUp___3idko:active {
        border: none;
        background-color: #36bdea !important;
        opacity: 1; }
    .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__btnFacebook___3ez_L {
      width: 100%;
      margin-top: 5px;
      height: 50px;
      font-size: 20px;
      background-color: #3a5998; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__btnFacebook___3ez_L span {
        font-size: 20px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__btnFacebook___3ez_L i {
        position: absolute;
        text-align: left;
        left: 30px;
        margin-left: 30px;
        font-size: 35px;
        margin-top: -5px;
        padding-right: 10px;
        border-right: 2px solid #3c3c3c; }
    .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__selectArea___1J33l {
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px;
        width: 250px;
        height: 50px; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__selectArea___1J33l div input {
          width: 150px;
          height: 30px;
          border: 2px solid;
          border-color: #bababa;
          border-radius: 5px;
          padding-left: 10px;
          color: #7f7f7f;
          font-size: 20px; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__selectArea___1J33l .styles__selectList___1zuCu div:nth-child(4) {
          overflow-x: hidden !important;
          width: 150px !important;
          min-width: 162px !important;
          margin-top: 2px;
          border: 1px solid;
          border-color: #bababa;
          border-radius: 5px;
          left: 0px !important;
          top: 0px !important;
          position: relative !important; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__selectArea___1J33l .styles__selectList___1zuCu .styles__optionItem___1qFy4 {
          border: 0px solid;
          margin-left: 10px;
          border-radius: 0px;
          height: 30px !important;
          line-height: 30px;
          color: #7f7f7f;
          font-size: 20px;
          cursor: pointer; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__selectArea___1J33l .styles__genderList___1PGZv div:first-child {
          height: 250px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__userTypeArea___ddPY1 {
        margin-left: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1;
        flex: 1; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__languageArea___3tuTV .styles__btnAdd___3Xe_- {
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px;
        margin-top: 5px;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #47bfe6; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__languageArea___3tuTV .styles__btnAdd___3Xe_- img {
          height: 20px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__languageArea___3tuTV .styles__btnAdd___3Xe_-:active {
        opacity: 0.6; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__languageArea___3tuTV div input {
        width: 105px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__languageArea___3tuTV .styles__selectList___1zuCu div:nth-child(4) {
        width: 105px !important;
        min-width: 117px !important; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__btnDelete___VVfrm {
        cursor: pointer;
        margin-left: -20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center; }
        .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__btnDelete___VVfrm img {
          margin-top: -30px;
          width: 20px; }
      .styles__LoginForm___382l8 .styles__ComponentArea___2rE6u .styles__rowContainer___2Mzat .styles__btnDelete___VVfrm:active {
        opacity: 0.6; }

.styles__SignForm___3KZMM .styles__FormContainer___3D022 {
  -ms-flex: 1;
  flex: 1; }

.styles__labelFormField___2fVzs {
  line-height: 36px;
  -ms-flex: 1;
  flex: 1;
  height: 36px;
  width: 120px;
  margin-right: 15px;
  font-size: 20px; }
/** @define AppPage; use strict */
.styles__AppPage___vkIdb {
  width: 100%;
  height: 100%; }
  .styles__AppPage___vkIdb .styles__container___iHa05 {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #47bfe6;
    -ms-flex-align: center;
    align-items: center; }
    .styles__AppPage___vkIdb .styles__container___iHa05 .styles__Top___yfNJv {
      display: -ms-flexbox;
      display: flex;
      min-height: 80px;
      -ms-flex-align: end;
      align-items: flex-end;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex: 0.5;
      flex: 0.5;
      width: 350px;
      text-align: center;
      color: white;
      font-size: 40px;
      font-weight: 900; }
  .styles__AppPage___vkIdb img.styles__app___1iBDj {
    height: 10%;
    cursor: pointer;
    margin-top: 30px; }
    .styles__AppPage___vkIdb img.styles__app___1iBDj:active {
      opacity: 0.5; }
.styles__AccountView___23rJy {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }
  .styles__AccountView___23rJy .styles__component_area___3owha {
    -ms-flex: 5;
    flex: 5;
    height: 100%;
    min-width: 300px; }
  .styles__AccountView___23rJy .styles__app_area___31CJ0 {
    -ms-flex: 9;
    flex: 9;
    min-width: 540px;
    height: 100%; }
