/** @define TextInput; use strict */

.TextArea {
  width: 100%;
  height: 80px;
  textarea {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1.5px solid;
    border-color: $grey;
    font-family: $typeLight;
  }
  textarea.no_border {
    border-bottom: 0px solid;
  }
  textarea.input-error {
    border-color: $red !important;
  }
}

.TextInput-child {}

.TextInput-child.is-state {}

